.module
    flex-direction: column

    & > *
        margin: 0 10px
    
.bi-plus-circle
    margin-top: 10px
    color: #a2fa7c
    font-size: 30px
    cursor: pointer

.bi-x-circle
    margin-top: 10px
    margin-left: 15px
    color: #d63e3e
    font-size: 30px
    cursor: pointer

.bi-trash
    color: #f84d4d

    &:hover
        color: #fa1414
        cursor: pointer

.word
    margin: 5px 0
    padding: 5px 25px
    background: #f8f9fa
    width: 60vw
    justify-content: space-between
    align-items: center
    border-radius: 10px

    &:hover
        background: #e8eef1

.new-word-form
    width: 60vw
    flex-wrap: wrap
    justify-content: space-around